{% extends 'base.html.twig' %}
{% block body %}
    <h1>Posts ( {{ posts|length }} )</h1>
    <hr>
    <div class="list">
        {% for post in posts %}
            {% include 'post/post-miniprofile.html.twig'%}
        {% endfor %}
    </div>
{% endblock %}