<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Gestion de Posts{% endblock %}</title>
	<link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	{% block stylesheets %}{% endblock %}
	{% block javascripts %}{% endblock %}
</head>
	<body>
	{% include 'navbar.html.twig' %}
	{#{% include '_flashes.html.twig' %}#}
	{# TODO : flash #}
	<div class="header">{% block header %}{% endblock %}</div>
	<div class="main">{% block body %}{% endblock %}</div>
	</body>
</html>
