<div class="miniprofile user-miniprofile">
    {#<img class="user-miniprofile-picture" src="{{ asset(user.getPicturePath) }}" alt="Image de l'utilisateur">#}
    {# TODO : pic-users #}
    <h4 class="user-miniprofile-username">{{ user.username }}</h4>
</div>