{% extends 'base.html.twig' %}
{% block body %}
    <h1>Home</h1>

    <hr>

    <h2>Most recent posts</h2><br>
    <div class="list">
        {% for post in posts %}
            {% include 'post/post-miniprofile.html.twig' %}
        {% endfor %}
    </div><br>
    <a href="/post/list">
        <button type="button" class="btn btn-primary btn-lg">See all other posts ( {{ nbPosts }} )</button>
    </a>

    <hr>

    <h2>Most recent games</h2><br>
    <div class="list">
        {% for game in games %}
            {% include 'game/game-miniprofile.html.twig' %}
        {% endfor %}
    </div><br>
    <a href="/game/list">
        <button type="button" class="btn btn-primary btn-lg">See all other games ( {{ nbGames }} )</button>
    </a>

    <hr>

    <h2>Most recent Users</h2><br>
    <div class="list">
        {% for user in users %}
            {% include 'user/user-miniprofile.html.twig' %}
        {% endfor %}
    </div><br>
    <a href="/user/list">
        <button type="button" class="btn btn-primary btn-lg">See all other users ( {{ nbUsers }} )</button>
    </a>
{% endblock body %}
