RewriteEngine On

# Redirect the default directory request (/) to public/index.php
DirectoryIndex ./public/index.php

# Redirect every other requests (/any) to public/index.php
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . ./public/index.php [L]

